<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Cleaning - {{propname}}
    </ion-title>
    <ion-buttons end (click)="openlocatepage()">
      <button ion-button icon-left solid>
        <ion-icon name="locate"></ion-icon>
        {{selectedpropname}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div no-padding text-wrap *ngFor="let c of checklistdata; let i=index" [ngClass]="{active: isGroupShown(i)}">
    <div class="{{c.color}}" (click)="toggleGroup(i)">

      <ion-item class="item item-block item-md {{c.color}}">
        <ion-icon name="bookmark" item-left></ion-icon>
        {{c.category}}
        <ion-icon *ngIf="c.checklistOrInventory==1" name="checkbox" item-right></ion-icon>
        <ion-icon *ngIf="c.checklistOrInventory==2" name="list" item-right></ion-icon>
      </ion-item>
    </div>
    <div *ngIf="isGroupShown(i)">
      <div *ngFor="let d of c.data">
        <ion-item no-lines class="text-primary" *ngIf="d.item_checkedOrNot==false && c.checklistOrInventory==1">
          {{d.item_description}}
          <ion-icon item-right name="create" (click)="checkData(c.checklistOrInventory,d,qty)"></ion-icon>
        </ion-item>

        <ion-item no-lines class="text-success" *ngIf="d.item_checkedOrNot==true && c.checklistOrInventory==1">
          {{d.item_description}}
          <ion-icon item-right name="checkbox"></ion-icon>
        </ion-item>

        <ion-item no-lines class="text-primary" *ngIf="d.item_checkedOrNot==false && c.checklistOrInventory==2">
          <ion-label stacked>
            {{d.item_description}}
          </ion-label>
          <ion-input type="number" [(ngModel)]="qty" placeholder="ex 2"></ion-input>
        </ion-item>
        <ion-item no-lines class="text-primary" *ngIf="d.item_checkedOrNot==false && c.checklistOrInventory==2" (click)="checkData(c.checklistOrInventory,d,qty)">
          Check
          <ion-icon name="cloud-upload" item-right></ion-icon>
        </ion-item>

        <ion-item no-lines class="text-success" *ngIf="d.item_checkedOrNot==true && c.checklistOrInventory==2">
          Total Quantity : {{d.item_value}}
          <ion-note item-right class="text-success">Checked</ion-note>
          <ion-icon name="cloud-done" item-right></ion-icon>
        </ion-item>
      </div>
    </div>
  </div>
  <!--  <ion-list id="cleaningArkia-list7">
    <ion-item color="none" id="cleaningArkia-list-item32">
      <ion-avatar item-left>
        <img src="assets/img/HBoFrVL2T2yTL0amZhhN_villa.jpg" />
      </ion-avatar>
      <h2>
        Cleaning report
      </h2>
    </ion-item>
    <ion-item color="none" id="cleaningArkia-list-item14">
      <ion-icon name="bookmark" item-left></ion-icon>
      Kitchen
      <ion-icon name="eye" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <div id="cleaningArkia-markdown7" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Cleaner didn&#39;t checked this room all with grey were not checked.
    </p>
  </div>
  <ion-list id="cleaningArkia-list8">
    <ion-item color="positive" id="cleaningArkia-list-item33">
      <ion-icon name="bookmark" item-left></ion-icon>
      Kitchen
      <ion-icon name="eye" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <div id="cleaningArkia-markdown8" class="show-list-numbers-and-dots">
    <p style="color:#249700;">
      Check appliances, counters, caabinets, table and chairs.
    </p>
  </div>
  <div id="cleaningArkia-markdown9" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Partial checked but these items with grey were not checked. Mark with green the ones checked.
    </p>
  </div>
  <ion-list id="cleaningArkia-list9">
    <ion-item color="balanced" id="cleaningArkia-list-item34">
      <ion-icon name="bookmark" item-left></ion-icon>
      Kitchen
      <ion-icon name="checkbox-outline" item-right></ion-icon>
    </ion-item>
  </ion-list>-->
</ion-content>