<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{taskname}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="slider-container">
    <ion-slides pager="true">
      <ion-slide *ngFor="let p of photosdata">
        <img src="{{imageurl}}{{p}}" style="height:300px" />
      </ion-slide>
    </ion-slides>
  </div>
  <br />
  <ion-item>
    <span class="float-left" style="font-size:18px;">
      {{taskdescription}}
    </span>
  </ion-item>


  <ion-item *ngIf="StratTime==''" (click)="UpdatePerformedTask('start')" class="primary">
    <ion-icon name="stopwatch" item-left></ion-icon>
    Start time
    <ion-icon name="play" item-right></ion-icon>
  </ion-item>

  <fileupload *ngIf="StratTime!='' && EndTime==''"></fileupload>

  <ion-item *ngIf="StratTime!='' && EndTime==''" (click)="UpdatePerformedTask('stop')" class="assertive">
    <ion-icon name="stopwatch" item-left></ion-icon>
    Stop time
    <ion-icon name="pause" item-right></ion-icon>
  </ion-item>

  <ion-item type="button" *ngIf="StratTime!='' && EndTime!=''" disabled class="btn btn-light btn-block">
    <span class="float-left" style="font-size:18px;">
      Time Recorded : {{timerecorded}}
    </span>
  </ion-item>
 <!--  <ion-item class="primary" *ngIf="StratTime!='' && EndTime!=''" (click)="UpdateTask()">
    <ion-icon name="build" item-left></ion-icon>
    Submit
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item> -->
  <!--<ion-item color="positive" id="taskName-list-item23">
    <ion-icon name="camera" item-left></ion-icon>
    Record
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>
  <ion-item color="none" id="taskName-list-item24">
    <ion-thumbnail item-left>
      <img src="assets/img/WULtUamXRKO86FybHhtW_cleaning_pool.jpg" />
    </ion-thumbnail>
    <h2>
      Task name
    </h2>
  </ion-item>
  <ion-item color="positive" id="taskName-list-item25">
    <ion-icon name="add-circle" item-left></ion-icon>
    Record
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>
  <ion-item color="balanced" id="taskName-list-item26">
    <ion-icon name="checkbox" item-left></ion-icon>
    Thank you
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-done" item-right></ion-icon>
  </ion-item>
  <ion-item color="energized" id="taskName-list-item27">
    <ion-icon name="warning" item-left></ion-icon>
    Edit
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>-->

</ion-content>