<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Buy material
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-left solid>
        <ion-icon name="locate"></ion-icon>
        {{selectedpropname}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6">

  <!--<div id="buyMaterial-markdown5" class="show-list-numbers-and-dots padding">
    <p style="color:#000000;">
      He can use left for GPS locate or right to select properties attached to him. All selects https://codepen.io/bianchimro/pen/epYYQO?editors=101
    </p>
  </div>-->
  <ion-list id="buyMaterial-list10">
    <ion-item color="none" on-click="getPropdata()">
      <ion-icon name="locate" item-left></ion-icon>
      Property
      <ion-note item-right>{{config.BuymaterialPropname}}</ion-note>
      <ion-icon name="arrow-dropdown" item-right></ion-icon>
    </ion-item>
    <ion-item color="none" on-click="getTaskData()">
      <ion-icon name="build" item-left></ion-icon>
      Task
      <ion-note item-right>{{config.BuymaterialTaskname}}</ion-note>
      <ion-icon name="arrow-dropdown" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label stacked>
        Name of material
      </ion-label>
      <ion-textarea [(ngModel)]="description" placeholder="ex pvc pipe of 5cm diameter" name="Report"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list no-padding>
    <ion-item class="primary" (click)="openCamera()">
      <ion-icon name="camera" item-left></ion-icon>
      Record
      <ion-note item-right></ion-note>
      <ion-icon name="arrow-dropdown" item-right></ion-icon>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of Photosarray let i=index">
      <ion-thumbnail item-left>
        <img src="{{p.src}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc(i,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of photosdata let j=index">
      <ion-thumbnail item-left>
        <img src="{{imageurl}}{{p.name}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc1(j,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <button ion-button block color="danger" *ngIf="deletepicarray.length > 0" (click)="deletePicArray()">Delete</button>
  </ion-list>

  <ion-list>
    <ion-item color="none" on-click="getShopeData()">
      <ion-icon name="cart" item-left></ion-icon>
      Locations
      <ion-note item-right></ion-note>
      <ion-icon name="checkmark-circle-outline" item-right></ion-icon>
    </ion-item>
    <ion-item color="none" *ngFor="let s of config.BuymaterialShopes">
      <ion-icon name="cart" item-left></ion-icon>
      {{s.shopename}}
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngIf="eid==0" class="primary" (click)="AddBuyItem()">
      <ion-icon name="add-circle" item-left></ion-icon>
      Add it
      <ion-note item-right></ion-note>
      <ion-icon name="cloud-upload" item-right></ion-icon>
    </ion-item>
    <!--<ion-item color="balanced" id="buyMaterial-list-item52">
      <ion-icon name="checkmark-circle" item-left></ion-icon>
      Thank you
      <ion-note item-right></ion-note>
      <ion-icon name="cloud-done" item-right></ion-icon>
    </ion-item>-->
    <ion-item *ngIf="eid!=0" class="energized" (click)="UpdateBuyItem()">
      <ion-icon name="warning" item-left></ion-icon>
      Update
      <ion-note item-right></ion-note>
      <ion-icon name="cloud-upload" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>