<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Approve
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <div id="approve-markdown3" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      You can use this section to
      <strong>
        approve
      </strong>
      tasks. On click goes to task name once approved gets in green.
    </p>
    <p style="color:#000000;">
      first set of tasks the ones that need to be approved followed by the ones in work/finished ( current month only from approval
      date till + 30days)
    </p>
  </div>
  <ion-list>
    <ion-item color="none">
      <ion-icon name="locate" item-left></ion-icon>
      <ion-label>
        Location
      </ion-label>
      <ion-select (ionChange)="getTaskData()" [(ngModel)]="prop">
        <ion-option *ngFor="let p of propdata" value={{p.id}}>
          {{p.name}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <div *ngFor="let t of taskdata">
      <ion-item class="assertive" (click)="opentaskpage(t)" *ngIf="t.owner_approval==1">
        <ion-avatar item-left>
          <img src="{{t.photo}}" />
        </ion-avatar>
        <h2 *ngIf="t.approved_by!=0" class="success">
          {{t.task_description}} Approved
        </h2>
        <h2 *ngIf="t.approved_by==0" class="primary">
          {{t.task_description}}
        </h2>
        <p>
          {{t.setup_date}} {{t.propname}}
        </p>
      </ion-item>
    </div>

    <div *ngFor="let t of taskdata">
      <ion-item  class="text-dark"  (click)="opentaskpage(t)" *ngIf="t.owner_approval==0">
        <ion-avatar item-left>
          <img src="{{t.photo}}" />
        </ion-avatar>
        <h2  *ngIf="t.status==0 && t.assigned_person_id==0">
          {{t.task_description}} Not Assigned Yet
        </h2>
        <h2 *ngIf="t.status==0 && t.assigned_person_id!=0">
          {{t.task_description}} In Work
        </h2>
        <h2 *ngIf="t.status==1">
          {{t.task_description}} Finished
        </h2>
        <p>
          {{t.setup_date}} {{t.propname}}
        </p>
      </ion-item>
    </div>
  </ion-list>
  <!-- <ion-list id="approve-list1">
    <ion-item color="none" on-click="goToTaskName()" id="approve-list-item8">
      <ion-avatar item-left>
        <img src="assets/img/qHoKs1sFSemAZDpEL2yQ_face.jpg" />
      </ion-avatar>
      <h2>
        Task name
      </h2>
    </ion-item>
    <ion-item color="positive" id="approve-list-item6">
      <ion-icon name="create" item-left></ion-icon>
      Task name
      <ion-icon name="construct" item-right></ion-icon>
    </ion-item>
    <ion-item color="balanced" id="approve-list-item10">
      <ion-icon name="checkbox" item-left></ion-icon>
      Approved
      <ion-icon name="construct" item-right></ion-icon>
    </ion-item>
    <ion-item color="balanced" on-click="goToTaskName()" id="approve-list-item9">
      <ion-avatar item-left>
        <img src="assets/img/qHoKs1sFSemAZDpEL2yQ_face.jpg" />
      </ion-avatar>
      <h2>
        Task name approved
      </h2>
    </ion-item>
    <ion-item color="energized" on-click="goToTaskName()" id="approve-list-item11">
      <ion-avatar item-left>
        <img src="assets/img/qHoKs1sFSemAZDpEL2yQ_face.jpg" />
      </ion-avatar>
      <h2>
        Task name in work
      </h2>
    </ion-item>
  </ion-list>-->
</ion-content>