<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Report
    </ion-title>
    <ion-buttons end (click)="openlocatepage()">
      <button ion-button icon-left solid>
        <ion-icon name="locate"></ion-icon>
        {{areaname}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item no-lines no-padding text-wrap>
    <h2 style="color:#000000;">
      You can use this section to
      <strong>
        report
      </strong> problems inside the current property.
    </h2>
  </ion-item>

  <fileupload></fileupload>

  <ion-item no-lines no-padding text-wrap>
    <h2 style="color:#000000;">
      Please enter
      <strong>
        location of the problem
      </strong> ex Main bedroom outside wall and
      <strong>
        describe
      </strong> shortly the problem
    </h2>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      Report ( location + description )
    </ion-label>
    <ion-textarea [(ngModel)]="description" placeholder="ex: First bedroom left - exterior wall large humidity problem"
      name="Report"></ion-textarea>
  </ion-item>

  <div class="spacer" style="height:13px;" id="login-spacer12"></div>
  <ion-item *ngIf="eid==0"  class="primary" (click)="ReportOrUpdateProblem('Insert')">
    <ion-icon name="add-circle" item-left></ion-icon>
    Report
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>


  <ion-item *ngIf="eid!=0" class="energized" (click)="ReportOrUpdateProblem('Update')">
    <ion-icon name="warning" item-left></ion-icon>
    Update
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>


  <div class="spacer" style="height:13px;" id="login-spacer12"></div>

  <ion-item-group *ngIf="taskdata.length > 0">
    <ion-item-divider color="primary">Previous Reported Problems/Tasks</ion-item-divider>
    <ion-item color="none" *ngFor="let u of taskdata">
      <ion-thumbnail item-left>

        <img src="{{u.photo}}"  onError="this.src='assets/img/noimageavailable.png'" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <h2>
        {{u.task_description}}
      </h2>
      <button ion-button color="primary" item-end (click)="editTask(u)">Edit</button>
    </ion-item>

  </ion-item-group>

</ion-content>