<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      To Buy List
    </ion-title>
    <ion-buttons end (click)="openlocatepage()">
      <button ion-button icon-left solid>
        <ion-icon name="locate"></ion-icon>
        {{selectedpropname}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page8">
  <div id="toBuyList-markdown8" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Filter
      <strong>
        property or shop location
      </strong>
      from below, if you select All in material location can be selected and shows all material for the property. Can position
      with GPS on the shop so location will be Leroy Merlin. On property has multi select with property name or location.
    </p>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>
        Material location
      </ion-label>
      <ion-select [(ngModel)]="shop" (ionChange)="filterByShop()">
        <ion-option value="-1">All</ion-option>
        <ion-option *ngFor="let s of shopedata;" value="{{s.id}}">{{s.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        Property location / name
      </ion-label>
      <ion-select [(ngModel)]="prop">
        <ion-option value="-1">All</ion-option>
        <ion-option *ngFor="let p of config.GenericPropData;" value="{{p.propid}}">{{p.name}}</ion-option>
      </ion-select>
    </ion-item>

    <div *ngFor="let m of materialdata;">
      <ion-item color="balanced" *ngIf="(prop==-1 || m.property_id==prop)">
        <ion-thumbnail item-left>
          <img src="{{m.photo}}" />
        </ion-thumbnail>
        <h2 [ngClass]="(m.status==0)?'primary':'success'">
          {{m.material_name}}
        </h2>
        <p>
          {{m.property_name}}
        </p>
        <ion-icon name="square-outline" *ngIf="m.status==0" color="primary" (click)="changeMaterialStatus(m.buyid,true)" item-right></ion-icon>
        <ion-icon name="checkbox" *ngIf="m.status!=0" color="secondary" (click)="changeMaterialStatus(m.buyid,false)" item-right></ion-icon>
      </ion-item>
    </div>
  </ion-list>
</ion-content>