<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Reports
    </ion-title>
    <ion-buttons end (click)="openlocatepage()">
      <button ion-button icon-left solid>
        <ion-icon name="locate"></ion-icon>
        {{selectedpropname}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <ion-list>
    <div id="locate-markdown11" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        Here you can find all the tasks done and the ones due for properties in the last 30 days the latest ( urgent, still due,
        done ) created first.
      </p>
    </div>
    <ion-item color="none">
      <ion-icon name="locate" item-left></ion-icon>
      <ion-label>
        Location
      </ion-label>
      <ion-select (ionChange)="getTaskData()" [(ngModel)]="prop">
        <ion-option value=""> All </ion-option>
        <ion-option *ngFor="let p of propdata" value={{p.id}}>
          {{p.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item color="none">
      <ion-icon name="people" item-left></ion-icon>
      <ion-label>
        Group
      </ion-label>
      <ion-select [(ngModel)]="activity">
        <ion-option value="" selected> All </ion-option>
        <!--<ion-option value="2"> Admin </ion-option>-->
        <ion-option value="3"> Owner </ion-option>
        <ion-option value="4"> Tech </ion-option>
        <ion-option value="5"> Cleaning </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item color="primary">
      Task Report
    </ion-item>

    <div *ngFor="let t of taskdata">
      <ion-item class="assertive" (click)="opentaskpage(t)" *ngIf="(activity=='' || t.assigned_group==activity) && t.setup_date==todaydate && t.status==0">
        <ion-avatar item-left>
          <img src="{{t.photo}}" />
        </ion-avatar>
        <h2>
          {{t.task_description}}
        </h2>
        <p>
          {{t.setup_date}} {{t.propname}}
        </p>
      </ion-item>
    </div>

    <div *ngFor="let t of taskdata">
      <ion-item class="primary" (click)="opentaskpage(t)" *ngIf="(activity=='' || t.assigned_group==activity) && t.setup_date!=todaydate && t.status!=1">
        <ion-avatar item-left>
          <img src="{{t.photo}}" />
        </ion-avatar>
        <h2>
          {{t.task_description}}
        </h2>
        <p>
          {{t.setup_date}} {{t.propname}}
        </p>
      </ion-item>
    </div>

    <div *ngFor="let t of taskdata">
      <ion-item class="success"(click)="opentaskpage(t)" *ngIf="(activity=='' || t.assigned_group==activity) && t.status==1">
        <ion-avatar item-left>
          <img src="{{t.photo}}" />
        </ion-avatar>
        <h2>
          {{t.task_description}}
        </h2>
        <p>
          {{t.setup_date}} {{t.propname}}
        </p>
      </ion-item>t
    </div>
  </ion-list>

  <ion-list>
    <ion-item color="primary">
      Cleaning Report
    </ion-item>
    <div *ngFor="let p of propdata">
      <ion-item class="success" on-click="goToCleaningReport(p)" *ngIf="(prop=='' || prop==p.id)">
        <ion-avatar item-left>
          <img src="{{p.photo}}" />
        </ion-avatar>
        <h2>
          Cleaning Report ({{p.name}})
        </h2>
        <p>
          {{todaydate}}
        </p>
      </ion-item>
    </div>
  </ion-list>


</ion-content>