<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Status
    </ion-title>
    <ion-buttons end  (click)="openlocatepage()">
      <button ion-button icon-left solid>
        <ion-icon name="locate"></ion-icon>
        {{selectedpropname}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-list>
    <div id="locate-markdown11" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        Select Activity group to see status of their actions unattented in the last week. Click on the title to see more details
        ( same design maintenance )
      </p>
    </div>

    <ion-item color="none">
      <ion-icon name="pulse" item-left></ion-icon>
      <ion-label>
        Activity
      </ion-label>
      <ion-select [(ngModel)]="activity">
        <ion-option value=""> All </ion-option>
        <!--<ion-option value="2"> Admin </ion-option>-->
        <ion-option value="3"> Owner </ion-option>
        <ion-option value="4"> Tech </ion-option>
        <ion-option value="5"> Cleaning </ion-option>
      </ion-select>
    </ion-item>
    <ion-item color="none">
      <ion-icon name="locate" item-left></ion-icon>
      <ion-label>
        Location
      </ion-label>
      <ion-select (ionChange)="getTaskData()" [(ngModel)]="prop">
        <ion-option value=""> All </ion-option>
        <ion-option *ngFor="let p of propdata" value={{p.id}}>
          {{p.name}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let t of taskdata">
    <div *ngIf="(activity=='' || t.assigned_group==activity) && t.status==0">
      <ion-item (click)="opentaskpage(t,'yes')">
        <ion-label color="primary"><strong>{{t.task_description}}</strong></ion-label>
        <ion-note item-right>{{t.propname}}</ion-note>
        <ion-icon name="settings" item-right></ion-icon>
      </ion-item>
      <ion-item no-padding>
        <ion-row>
          <ion-col text-center *ngIf="t.assigned_person_id==''" (click)="opentaskpage(t,'no')">
            <button ion-button block>
              <span class="float-left" style="font-size:20px;">
                <i class="fa fa-sliders"></i>
              </span>
              <strong> TO-DO</strong>
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button block (click)="changeTaskStatus(1,t)">
              <span class="float-left" style="font-size:20px;">
                <i class="fa fa-square"></i>
              </span>
              <strong>Solve</strong>
            </button>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="t.assigned_group!=0 || t.assigned_person_name!=''">
          <ion-col text-center *ngIf="t.assigned_group!=0">
            <button ion-button block color="secondary">
              <span class="float-left" style="font-size:20px;">
                <i class="fa fa-users"></i>
              </span>
              <strong *ngIf="t.assigned_group==2">Admin</strong>
              <strong *ngIf="t.assigned_group==3">Owner</strong>
              <strong *ngIf="t.assigned_group==4">Tech</strong>
              <strong *ngIf="t.assigned_group==5">Cleaning</strong>
            </button>
          </ion-col>
          <ion-col text-center *ngIf="t.assigned_person_name!=''">
            <button ion-button block secondary color="secondary">
              <span class="float-left" style="font-size:20px;">
                <i class="fa fa-user"></i>
              </span>
              <strong>Assigned to {{t.assigned_person_name}}</strong>
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-list>
</ion-content>