<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      TO-DO Tasks
    </ion-title>
    <ion-buttons end (click)="openlocatepage()">
      <button ion-button icon-left solid>
        <ion-icon name="locate"></ion-icon>
        {{selectedpropname}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <div id="urgentTasks-markdown1" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      <strong>
        GPS must be activated
      </strong>
      for this section to work, you can desactivate once property is selected.
    </p>
    <p style="color:#000000;">
      Once it enters this page it fetches GPS coordinates and shows properties around the location. It continuosly fetches location
      while on this page.
    </p>
  </div>
  <ion-list id="urgentTasks-list2">
    <ion-item>
      <ion-label>
        <ion-icon name="locate" item-left></ion-icon>
        Locate
      </ion-label>

      <ion-select [(ngModel)]="prop">
        <ion-option value="0">All</ion-option>
        <ion-option *ngFor="let p of config.GenericPropData;" value="{{p.propid}}">{{p.name}}</ion-option>
      </ion-select>
    </ion-item>
    <div *ngFor="let t of taskdata">
      <ion-item *ngIf="t.property_id==prop || prop==0" (click)="goToTaskName(t) ">
        <ion-thumbnail item-left>
          <img src="{{t.photo}} " />
        </ion-thumbnail>
        <h2>
          {{t.task_name}} - {{t.property}}
        </h2>
        <p>{{t.task_description}}</p>
      </ion-item>
    </div>
    <ion-item *ngIf="taskdata.length==0">
      No TO-DO Task
    </ion-item>
  </ion-list>
</ion-content>