<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Subtask
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-left solid>
        <ion-icon name="car"></ion-icon>
        Drive to
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item no-lines no-padding text-wrap>
    <h2 style="color:#000000;">
      Can create task from the a task either finished or in work. Ex once done painting ask cleaners to come and clean. Admin will assign task as required. Record first two words take give task name.
    </h2>
  </ion-item>

  <ion-list no-padding>
    <ion-item class="primary" (click)="openCamera()">
      <ion-icon name="camera" item-left></ion-icon>
      Record
      <ion-note item-right></ion-note>
      <ion-icon name="arrow-dropdown" item-right></ion-icon>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of Photosarray let i=index">
      <ion-thumbnail item-left>
        <img src="{{p.src}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc(i,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of photosdata let j=index">
      <ion-thumbnail item-left>
        <img src="{{imageurl}}{{p.name}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc1(j,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <button ion-button block color="danger" *ngIf="deletepicarray.length > 0" (click)="deletePicArray()">Delete</button>
  </ion-list>


  <ion-item>
    <ion-label stacked>
      Report ( location + description )
    </ion-label>
    <ion-textarea [(ngModel)]="description" placeholder="ex: Cleaner must clean upper level bedroom" name="Report"></ion-textarea>
  </ion-item>

  <div class="spacer" style="height:13px;" id="login-spacer12"></div>
  <ion-item *ngIf="eid==0" class="primary" (click)="ReportProblem()">
    <ion-icon name="add-circle" item-left></ion-icon>
    Create
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>


  <ion-item *ngIf="eid!=0" class="energized" (click)="UpdateProblem()">
    <ion-icon name="warning" item-left></ion-icon>
    Update
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>


</ion-content>
