<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Request work
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div id="requestWork-markdown5" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      You can use this section to
      <strong>
        request
      </strong>
      support for any problems or requirements.
    </p>
  </div>
  <ion-list>
    <ion-item color="none">
      <ion-icon name="locate" item-left></ion-icon>
      <ion-label>
        Location
      </ion-label>
      <ion-select (ionChange)="getTaskData()" [(ngModel)]="prop" placeholder="select">
        <ion-option *ngFor="let p of propdata" value={{p.id}}>
          {{p.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item color="none">
      <ion-icon name="people" item-left></ion-icon>
      <ion-label>
        User Group
      </ion-label>
      <ion-select [(ngModel)]="usergroup">
        <ion-option value="2"> Admin </ion-option>
        <ion-option value="4"> Tech </ion-option>
        <ion-option value="5"> Cleaning </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label stacked>
        Describe
      </ion-label>
      <ion-textarea [(ngModel)]="description" placeholder="ex cleaning ready for my arrival, make sure to wash towels" name="Report"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list no-padding>
    <ion-item class="primary" (click)="openCamera()">
      <ion-icon name="camera" item-left></ion-icon>
      Record
      <ion-note item-right></ion-note>
      <ion-icon name="arrow-dropdown" item-right></ion-icon>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of Photosarray let i=index">
      <ion-thumbnail item-left>
        <img src="{{p.src}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc(i,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of photosdata let j=index">
      <ion-thumbnail item-left>
        <img src="{{imageurl}}{{p.name}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc1(j,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <button ion-button block color="danger" *ngIf="deletepicarray.length > 0" (click)="deletePicArray()">Delete</button>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-icon name="calendar" item-left></ion-icon>
      <ion-label>Setup Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="setupdate"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-icon name="alarm" item-left></ion-icon>
      <ion-label>Setup Time</ion-label>
      <ion-datetime displayFormat="HH:mm:ss" [(ngModel)]="setuptime"></ion-datetime>
    </ion-item>
  </ion-list>


  <div class="spacer" style="height:13px;"></div>
  <ion-item *ngIf="eid==0" class="primary" (click)="ReportProblem()">
    <ion-icon name="add-circle" item-left></ion-icon>
    Create
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>


  <ion-item *ngIf="eid!=0" class="energized" (click)="UpdateProblem()">
    <ion-icon name="warning" item-left></ion-icon>
    Update
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>



  <div class="spacer" style="height:13px;"></div>

  <ion-item-group *ngIf="taskdata.length > 0">
    <ion-item-divider color="primary">Previous Reported Problems/Tasks</ion-item-divider>
    <ion-item color="none" *ngFor="let u of taskdata">
      <ion-thumbnail item-left>
        <img src="{{u.photo}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <h2>
        {{u.task_description}}
      </h2>
      <button ion-button color="primary" item-end (click)="editTask(u)">Edit</button>
    </ion-item>

  </ion-item-group>

  <!--<ion-list>
    <ion-item class="primary" (click)="openCamera()">
      <ion-icon name="camera" item-left></ion-icon>
      Record
      <ion-note item-right></ion-note>
      <ion-icon name="arrow-dropdown" item-right></ion-icon>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of Photosarray let i=index">
      <ion-thumbnail item-left>
        <img src="{{p.src}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc(i,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of photosdata let j=index">
      <ion-thumbnail item-left>
        <img src="{{imageurl}}{{p.name}}.png" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc1(j,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <button ion-button block color="danger" *ngIf="deletepicarray.length > 0" (click)="deletePicArray()">Delete</button>
  </ion-list>

  <ion-item>
    <ion-label stacked>
      Describe
    </ion-label>
    <ion-input type="text" [(ngModel)]="description" placeholder="ex cleaning ready for my arrival, make sure to wash towels"></ion-input>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-icon name="calendar" item-left></ion-icon>
      <ion-label>Setup Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="setupdate"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-icon name="alarm" item-left></ion-icon>
      <ion-label>Setup Time</ion-label>
      <ion-datetime displayFormat="HH:mm:ss" [(ngModel)]="setuptime"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="eid==0" class="primary" (click)="ReportProblem()">
    <ion-icon name="add-circle" item-left></ion-icon>
    Create
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>


  <ion-item *ngIf="eid!=0" class="energized" (click)="UpdateProblem()">
    <ion-icon name="warning" item-left></ion-icon>
    Update
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>-->
</ion-content>