<ion-tabs [selectedIndex]="tabindex">
  <ion-tab [root]="tab1Root" tabTitle="Report" tabIcon="camera"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Check" tabIcon="create"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Planning" tabIcon="list-box"></ion-tab>
</ion-tabs>