<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Planning
    </ion-title>
    <ion-buttons end (click)="openlocatepage()">
      <button ion-button icon-left solid>
        <ion-icon name="locate"></ion-icon>
        {{selectedpropname}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-icon name="locate" item-left></ion-icon>
      <ion-label>
        Location
      </ion-label>
      <ion-select [(ngModel)]="prop" placeholder="Select Property">
        <ion-option *ngFor="let u of propdata" value={{u.id}}>
          {{u.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="create" item-left></ion-icon>
      <ion-label>
        Need Owner Approval
      </ion-label>
      <ion-select [(ngModel)]="approval">
        <ion-option value="0"> No</ion-option>
        <ion-option value="1"> Yes</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>
        Report (Location + Description)
      </ion-label>
      <ion-textarea [(ngModel)]="description" placeholder="ex: Broken window in bathroom"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="primary" (click)="openCamera()">
      <ion-icon name="camera" item-left></ion-icon>
      Record
      <ion-note item-right></ion-note>
      <ion-icon name="arrow-dropdown" item-right></ion-icon>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of Photosarray let i=index">
      <ion-thumbnail item-left>
        <img src="{{p.src}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc(i,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of photosdata let j=index">
      <ion-thumbnail item-left>
        <img src="{{imageurl}}{{p.name}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc1(j,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <button ion-button block color="danger" *ngIf="deletepicarray.length > 0" (click)="deletePicArray()">Delete</button>
  </ion-list>


  <ion-list>
    <ion-item>
      <ion-row>
        <ion-col text-center>
          <i class="fa fa-users" style="font-weight:bolder"></i>
          <strong> Assign Group/User</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <button ion-button block [color]="(assigned_group==4)?'secondary':'primary'" (click)="SelectGroup(4)">
            <span class="float-left" style="font-size:20px;">
              <i class="fa fa-users"></i>
            </span>
            <strong>Tech</strong>
          </button>
        </ion-col>

        <ion-col text-center>
          <button ion-button block [color]="(assigned_group==5)?'secondary':'primary'" (click)="SelectGroup(5)">
            <span class="float-left" style="font-size:20px;">
              <i class="fa fa-users"></i>
            </span>
            <strong>Cleaning</strong>
          </button>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col text-center>
          <button ion-button block [color]="(assigned_group==2)?'secondary':'primary'" (click)="SelectGroup(2)">
            <span class="float-left" style="font-size:20px;">
              <i class="fa fa-users"></i>
            </span>
            <strong>Admin</strong>
          </button>
        </ion-col>

        <ion-col text-center>
          <button ion-button block [color]="(assigned_group==3)?'secondary':'primary'" (click)="SelectGroup(3)">
            <span class="float-left" style="font-size:20px;">
              <i class="fa fa-users"></i>
            </span>
            <strong> Owner</strong>
          </button>
        </ion-col>
      </ion-row>-->
    </ion-item>

    <ion-item>
      <ion-icon name="person" item-left></ion-icon>
      <ion-label>
        Assigned To
      </ion-label>
      <ion-select class="form-control" id="user" name="user" [(ngModel)]="user" placeholder="Select user"> 
        <ion-option *ngFor="let u of userdata" value='{{u.userid}}@@{{u.firstname}} {{u.lastname}}'>
          {{u.firstname}} {{u.lastname}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="primary" (click)="ReportProblem()">
      <ion-icon name="add-circle" item-left></ion-icon>
      Record
      <ion-icon name="cloud-upload" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>