page-login {

    .input-cover { display: none!important }

   .facebook{
    color:#3B5998;
    font-weight:bolder;
    font-size: 20px; 
   }

   .google{
    color:#db3236;
    font-weight:bolder;
    font-size: 20px; 
   }

   .primary{
    color: #488aff;
    }


    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
        width: 50px;
        height: 50px;
       
    }

    .item-md ion-thumbnail {
        min-width: 50px;
        min-height: 50px;
    }
}