<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-thumbnail item-left>
      <img src="assets/img/logo-symbol.png" />
    </ion-thumbnail>
    <h2>
      Please enter your data
    </h2>
    <p style="white-space:normal;">Enter your email-id or login with OpenID</p>
  </ion-item>

  <div class="spacer" style="height:13px;"></div>


  <ion-item>
    <ion-label>
      Email
    </ion-label>
    <ion-input type="text" [(ngModel)]="email" placeholder="dragos@email.ro"></ion-input>
  </ion-item>

  <div class="spacer" style="height:13px;"></div>
  <ion-item class="primary" (click)="doLogin()">
    <ion-icon name="key" item-left></ion-icon>
    <h2 color="primary">Login</h2>
    <ion-icon name="arrow-dropright-circle" item-right></ion-icon>
  </ion-item>


  <div class="spacer" style="height:13px;"></div>
  <ion-item class="facebook" (click)="loginWithFB()">
    <ion-avatar item-left>
      <img src="assets/img/fb.png" />
    </ion-avatar>
    <h2>
      Facebook
    </h2>
  </ion-item>

  <div class="spacer" style="height:13px;"></div>
  <ion-item class="google" (click)="loginWithFB()">
    <ion-avatar item-left>
      <img src="assets/img/google.png" />
    </ion-avatar>
    <h2>
      Google+
    </h2>
  </ion-item>
</ion-content>