<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{taskname}} - {{property_name}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-slides pager="true">
      <ion-slide *ngFor="let p of photosdata">
        <img src="{{imageurl}}{{p.name}}" style="height:300px" />
      </ion-slide>
    </ion-slides>
  </ion-item>

  <ion-item no-lines>
    {{taskdescription}}
  </ion-item>

  <div class="spacer" style="height:13px;"></div>
  <ion-item class="primary" (click)="ApproveTask()" *ngIf="owner_approval==1 && approved_by==0">
    Approve
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>
  <!--<div>
    <img src="assets/img/6QB5ioU1RyOf5X490f8J_paint_wall.jpg" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
  <div id="taskName-markdown2" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Clearly if multiple photos build a slider he can always make full screen photo, zoom etc. Here they have task description
    </p>
    <p style="color:#000000;">
      Once he approves a task he can edit as long as no other group started to register time on the task. and clearly he will see from the app only 1 month.
    </p>
  </div>
  <form id="taskName-form1">
    <ion-item id="taskName-input1">
      <ion-label stacked>
        Add notes
      </ion-label>
      <ion-input type="text" placeholder="ex please make sure to paint this green"></ion-input>
    </ion-item>
    <ion-item color="none" id="taskName-list-item1">
      <ion-icon name="pricetags" item-left></ion-icon>
      Cost 9.565€
      <ion-note item-right></ion-note>
    </ion-item>
    <ion-item color="positive" id="taskName-list-item2">
      <ion-icon name="create" item-left></ion-icon>
      Approve
      <ion-note item-right></ion-note>
      <ion-icon name="cloud-upload" item-right></ion-icon>
    </ion-item>
    <ion-item color="balanced" id="taskName-list-item3">
      <ion-icon name="checkbox" item-left></ion-icon>
      Thank you
      <ion-note item-right></ion-note>
      <ion-icon name="cloud-done" item-right></ion-icon>
    </ion-item>
    <ion-item color="energized" id="taskName-list-item5">
      <ion-icon name="warning" item-left></ion-icon>
      Edit
      <ion-note item-right></ion-note>
      <ion-icon name="cloud-upload" item-right></ion-icon>
    </ion-item>
  </form>-->
</ion-content>