<!-- Generated template for the FileuploadComponent component -->



<ion-list no-padding>
  <ion-item class="primary" (click)="openCamera()">
    <ion-icon name="camera" item-left></ion-icon>
    Record
    <ion-note item-right></ion-note>
    <ion-icon name="arrow-dropdown" item-right></ion-icon>
  </ion-item>
  <ion-item text-wrap *ngFor="let p of config.uploadPhotosQoeue let i=index">
    <ion-thumbnail item-left>
      <img src="{{p.src}}" onError="this.src='assets/img/noimageavailable.png'"  style="width:80px; height:80px;" />
    </ion-thumbnail>
    <progress *ngIf="p.progress!=-1" value="{{p.progress}}" max="100">
    </progress>
    <p *ngIf="p.progress!=-1">{{p.progress}} %</p>
    <p>{{p.desc}}</p>
    <ion-icon item-end name="trash" *ngIf="p.uploaded" (click)=deletePic(p)></ion-icon>
    <ion-icon item-end name="md-create" style="margin-left: 10px" *ngIf="p.uploaded" (click)=editDescription(p)></ion-icon>
  </ion-item>
</ion-list>