<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Workflow
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding id="page8">
    <div id="workflow-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>
          How to&#39;s
        </strong> can be viewed in this section, uploaded from webadmin with youtube video, basic checklist and perhaps
        pdf tutorial. General defined and particular / property.
      </p>
    </div>
    <ion-list id="workflow-list12">
      <ion-item id="workflow-select1">
        <ion-label>
          Category
        </ion-label>
  
        <ion-select (ionChange)="changedata()" [(ngModel)]="category">
          <ion-option *ngFor="let u of workflowdata" value={{u.id}}>
            {{u.category}}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    
    <div style="position:relative;overflow:hidden;" id="workflow-video1">
        <iframe style="margin:auto; display: flex" width="100%" height="auto" [src]="video_link | safe" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="show-list-numbers-and-dots padding" [innerHtml]="description">
    </div>
    <button ion-button color="positive" block icon-right (click)="openpdf()">
      Click to view PDF
      <ion-icon name="archive"></ion-icon>
    </button>
  </ion-content>