// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;
$headings-font-weight: 300;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #046bb7,//#488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222,
  favorite:   #69BB7B,
  yellow1:   #FCC100,
  pink1:   #f06292
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// Change #000 to any color to see the ios text color change
$text-ios-color:                          #000;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// Change #000 to any color to see the md text color change
$text-md-color:                           #000;

// Use the primary color as the background for the toolbar-md-background
$toolbar-md-background:                   color($colors, primary);

// Use the primary color as the background for the toolbar-md-background
$toolbar-ios-background:                   color($colors, primary);

// Use the default background for the tabbar since it inherits from toolbar
$tabs-md-background:                      #f8f8f8;

// Change the color of the tabs text
$tabs-md-tab-color-active:                color($colors, primary);
$tabs-md-tab-color:                       rgba(#8c8c8c, 0.7);

// Change the color of the segment button text
$toolbar-md-active-color:                 #fff;
$toolbar-md-inactive-color:               #fff;
$segment-button-md-text-color-activated:  #fff;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// Change #000 to any color to see the wp text color change
$text-wp-color:                           #000;
//$toast-ios-title-color: #f00 ;
//$toast-md-title-color:#f00;

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
