// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
    margin-left: 4px;
}

.item-md, .item-ios{
    border:1px solid #c8c7cc;
}



.item-inner {
    padding-right: 0px;
    border-bottom: 0px !important;
}

.primary{
    color: #999;
}

.primary{
    color: #046bb7;//#488aff;
}

.energized{
    color: #FCC100;
}

.success{
    color: #32db64;
}

.assertive{
color:#f53d3d;
}

.assertivebg{
    background:#f53d3d;
    }
    

.text-dark{
    color: #000000;
}

.text-primary{
    color: #046bb7;//#488aff;
}

.text-success{
    color: #32db64;
}

.scroll-content {
    background: #ffffff;
}

.float-left{
float: left;
}


.float-right{
    float: right;
    }

    .list-ios,.list-md {
        margin: -1px 0 10px;
    }

    .item-cover {
       
        width: 0; 
        height: 0; 
       
    }

    .checkbox-md .checkbox-icon {
        width: 22px;
        height: 22px;
    }
    .checkbox-ios .checkbox-icon {
        width: 22px;
        height: 22px;
    }

    .checkbox-md .checkbox-checked .checkbox-inner {
        width: 8px;
        height: 15px;
    }

    .checkbox-ios .checkbox-checked .checkbox-inner {
        width: 8px;
        height: 15px;
    }

    ion-toast.success .toast-wrapper {
        background: green;
    }
    
    ion-toast.error .toast-wrapper {
        background: rgb(209, 71, 71);
    }
