<ion-menu [content]="content" side="left" id="menu1">
  <ion-header>
    <ion-toolbar style="height:170px;" (click)="openprofile()">
      <div class="logo">
        <img src="{{userprofileImage}}" onError="this.src='assets/img/profile.png'" style="display:block; margin:auto; width:100px; height:100px; border-radius: 50%">
      </div>

      <h3 text-center style="color:#ffffff;">
        <strong>{{username}}</strong>
      </h3>

    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-list>
      <ion-item class="primary1" no-lines menuClose="" on-click="goToProfile()">
        <ion-icon name="person" item-left></ion-icon>
        My Profile
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
      <ion-item class="primary1" no-lines menuClose="" on-click="goToLocate()" *ngIf="usertype!=3">
        <ion-icon name="locate" item-left></ion-icon>
        Locate
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
      <ion-item class="primary1" no-lines menuClose="" on-click="goToRegisterProperty()" *ngIf="usertype==2">
        <ion-icon name="add-circle" item-left></ion-icon>
        Register
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
      <ion-item class="primary1" no-lines menuClose="" on-click="goToOwnerStatus()" *ngIf="usertype==3">
        <ion-icon name="pulse" item-left></ion-icon>
        Status
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
      <ion-item class="primary1" no-lines menuClose="" on-click="goToOwnerRequestWork()" *ngIf="usertype==3">
        <ion-icon name="construct" item-left></ion-icon>
        Request
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
      <ion-item class="primary1" no-lines menuClose="" on-click="goToOwnerApprove()" *ngIf="usertype==3">
        <ion-icon name="create" item-left></ion-icon>
        Approve
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
      <ion-item class="primary1" no-lines menuClose="" on-click="goToReport()" *ngIf="usertype==5">
        <ion-icon name="camera" item-left></ion-icon>
        Report
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
      <ion-item class="primary1" no-lines menuClose="" on-click="goToCheck()" *ngIf="usertype==5">
        <ion-icon name="create" item-left></ion-icon>
        Check
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
      <ion-item class="primary1" no-lines menuClose="" on-click="goToPlanning()" *ngIf="usertype==5">
        <ion-icon name="list-box" item-left></ion-icon>
        Planning
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>

      <ion-item class="primary1" no-lines menuClose="" on-click="goToUrgentTasks()" *ngIf="usertype==4">
        <ion-icon name="star" item-left></ion-icon>
        Urgent Task
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
      <ion-item class="primary1" no-lines menuClose="" on-click="goToToDo()" *ngIf="usertype==4">
        <ion-icon name="construct" item-left></ion-icon>
        TO-DO Task
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
      <ion-item class="primary1" no-lines menuClose="" on-click="goToToBuyList()" *ngIf="usertype==4">
        <ion-icon name="cart" item-left></ion-icon>
        To-Buy
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
    </ion-list>
    <div class="spacer" style="height:15px;"></div>
    <ion-list style="border-top:1px solid #e7e7e7">
      <ion-item class="primary1" no-lines menuClose="" on-click="goToWorkflow()" *ngIf="usertype==5">
        <ion-icon name="bookmarks" item-left></ion-icon>
        Workflow
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
      <ion-item class="primary1" no-lines menuClose="" on-click="goToStatusProblem()" *ngIf="usertype==2">
        <ion-icon name="pulse" item-left></ion-icon>
        Status
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
      <ion-item class="primary1" no-lines menuClose="" on-click="goToReportAdmin()" *ngIf="usertype==2">
        <ion-icon name="clipboard" item-left></ion-icon>
        Report
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
      <ion-item class="primary1" no-lines menuClose="" on-click="goToPanningAdmin()" *ngIf="usertype==2">
        <ion-icon name="list-box" item-left></ion-icon>
        Planning
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
      <ion-item class="primary1" no-lines menuClose="" (click)="Logout()">
        <ion-icon name="log-out" item-left></ion-icon>
        Logout
        <!--<ion-icon name="arrow-dropright-circle" item-right></ion-icon>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu [content]="content" side="right">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{selecttext}}</ion-title>
      <ion-buttons end [hidden]="hidedonebtn">
        <button ion-button small menuClose="" color="light" outline>
          Done
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-toolbar light [hidden]="hidepropfromrightmenu">
      <ion-searchbar (ionInput)="getPropItems($event)" autocorrect="off"></ion-searchbar>
    </ion-toolbar>
    <ion-list [hidden]="hidepropfromrightmenu">
      <div *ngFor="let p of propdata; let i=index">
        <ion-item (click)="selectProperty(p.propid, p.name)">
          <ion-avatar item-left>
            <img src="{{p.photo}}" />
          </ion-avatar>
          <h2>
            {{p.name}}
          </h2>
          <ion-icon name="square-outline" *ngIf="config.BuymaterialPropid!=p.propid" color="grey" item-right></ion-icon>
          <ion-icon name="checkbox" *ngIf="config.BuymaterialPropid==p.propid" class="primary1" item-right></ion-icon>
        </ion-item>
      </div>
    </ion-list>

    <ion-toolbar light [hidden]="hidetaskfromrightmenu">
      <ion-searchbar (ionInput)="getTaskItems($event)" autocorrect="off"></ion-searchbar>
    </ion-toolbar>
    <ion-list [hidden]="hidetaskfromrightmenu">
      <div *ngFor="let t of taskdata; let i=index">
        <ion-item (click)="selectTask(t.task_id, t.task_name)">
          <ion-avatar item-left>
            <img src="{{t.photo}}" />
          </ion-avatar>
          <h2>
            {{t.task_name}}
          </h2>
          <ion-icon name="square-outline" *ngIf="config.BuymaterialTaskid!=t.task_id" color="grey" item-right></ion-icon>
          <ion-icon name="checkbox" *ngIf="config.BuymaterialTaskid==t.task_id" class="primary1" item-right></ion-icon>
        </ion-item>
      </div>
    </ion-list>

    <ion-toolbar light [hidden]="hideshopefromrightmenu">
      <ion-searchbar (ionInput)="getShopeItems($event)" autocorrect="off"></ion-searchbar>
    </ion-toolbar>
    <ion-list [hidden]="hideshopefromrightmenu">
      <div *ngFor="let s of shopedata; let i=index">
        <ion-item (click)="selectShope(s.id, s.name)">



          <ion-label> {{s.name}}</ion-label>
          <ion-checkbox (ionChange)="selectShope(s.id, s.name)" item-right>

          </ion-checkbox>

        </ion-item>

      </div>
    </ion-list>


  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>