<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Planning
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  COMMING SOON

 <!--  <ion-list id="planning-list5">
    <ion-item color="energized" id="planning-list-item28">
      <ion-avatar item-left>
        <img src="assets/img/tn716W4NQemUH0DRLGak_Sabaa_Nissan_Militiaman.jpg" />
      </ion-avatar>
      <h2>
        Carlos Guachamin
      </h2>
    </ion-item>
  </ion-list>
  <div class="spacer" style="height:13px;" id="planning-spacer3"></div>
  <ion-list id="planning-list8">
    <ion-item color="none" id="planning-list-item30">
      <ion-avatar item-left>
        <img src="assets/img/a1KrXfqjR2uX37ATJmdr_living_room.jpg" />
      </ion-avatar>
    </ion-item>
    <ion-item color="none" id="planning-list-item32">
      <ion-avatar item-left>
        <img />
      </ion-avatar>
      <h2>
        Anna de Parodi
      </h2>
    </ion-item>
    <ion-item color="positive" id="planning-list-item33">
      <ion-icon name="create" item-left></ion-icon>
      Checklist
      <ion-icon name="arrow-dropright-circle" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <div class="spacer" style="height:13px;" id="planning-spacer4"></div>
  <ion-list id="planning-list9">
    <ion-item color="none" id="planning-list-item34">
      <ion-avatar item-left>
        <img src="assets/img/a1KrXfqjR2uX37ATJmdr_living_room.jpg" />
      </ion-avatar>
    </ion-item>
    <ion-item color="none" id="planning-list-item35">
      <ion-avatar item-left>
        <img />
      </ion-avatar>
      <h2>
        Anna de Parodi
      </h2>
    </ion-item>
    <ion-item color="positive" id="planning-list-item36">
      <ion-icon name="create" item-left></ion-icon>
      Checklist
      <ion-icon name="arrow-dropright-circle" item-right></ion-icon>
    </ion-item>
  </ion-list> -->
</ion-content>