.timeline {
  margin: 20px 10px 0 10px;
  padding: 0;
  position: relative;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #afdcf8;
    left: 20px;
    margin-left: -8px;
  }
  
  
  
  timeline-item {
    position: relative;
    display: inline-block;

    timeline-time {
      display: block;
      width: 20px;
      padding-right: 50px;
      position: absolute;
      span {
        display: block;
        text-align: right;
       
      }
    }
    /* Right content */
    ion-card {
      margin-left: 25% !important;
      width: 75% !important;
      min-width:  240px;
      max-width:  240px;
      position: relative;
      overflow: auto;
      display: inline-table;
      &:after {
        left: -12px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-right-color: #3594cb;
        border-width: 6px;
        top: 10px;
        z-index: 999;
      }
    }
    img {
      width: 40px;
      height: 40px;
      font-size: 1.4em;
      position: absolute;
      color: #fff;
      background: #46a4da;
      border-radius: 50%;
      box-shadow: 0 0 0 4px #afdcf8;
      text-align: center;
      left: 20px;
      top: 0;
      margin: 0 0 0 -25px;
      line-height: 50px;
    }
  }
}
