<ion-header>
  <ion-navbar>
    <ion-title>
      Enable Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-thumbnail item-left>
      <img src="assets/img/logo-symbol.png" />
    </ion-thumbnail>
    <h2>
      Please contact admin
    </h2>
    <p style="white-space:normal;">Share this information with your admin in order to enable your account</p>
  </ion-item>

  <div class="spacer" style="height:13px;"></div>
  <ion-item>
    <ion-label>
      Email
    </ion-label>
    <ion-input type="email" placeholder="dragos@email.ro"></ion-input>
  </ion-item>

  <div class="spacer" style="height:13px;"></div>
  <ion-item>
    <ion-label>
      IMEI
    </ion-label>
    <ion-input type="text" placeholder="6565656532323232"></ion-input>
  </ion-item>

  <div class="spacer" style="height:13px;"></div>
  <ion-item class="primary" (click)="shareInformation()">
    <ion-icon name="share" item-left></ion-icon>
    Share this information
    <ion-icon name="arrow-dropright-circle" item-right></ion-icon>
  </ion-item>

</ion-content>