page-enable-login {


    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
        width: 50px;
        height: 50px;
       
    }

    .item-md ion-thumbnail {
        min-width: 50px;
        min-height: 50px;
    }
}
