<ion-tabs [selectedIndex]="tabindex">
  <ion-tab [root]="tab1Root" tabTitle="Status" tabIcon="pulse"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Reports" tabIcon="clipboard"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Planning" tabIcon="list-box"></ion-tab>
</ion-tabs>