<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Status
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item color="none">
      <ion-icon name="locate" item-left></ion-icon>
      <ion-label>
        Location
      </ion-label>
      <ion-select (ionChange)="getTaskData()" [(ngModel)]="prop">
        <ion-option *ngFor="let p of propdata" value={{p.id}}>
          {{p.name}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <timeline endIcon="call" *ngIf="taskdata.length>0">
    <div *ngFor="let item of taskdata">
      <timeline-item>
        <img src="{{item.userprofile_pic}}" />
        <ion-card (click)="opentaskpage(item)">
          <ion-card-content>
            {{item.task_name}} created by {{item.username}} on {{item.creation_date}}
          </ion-card-content>
        </ion-card>
      </timeline-item>
      <timeline-item *ngIf="item.assigned_person_id!=0">
        <img src="{{item.userprofile_pic2}}" />
        <ion-card (click)="opentaskpage(item)">
          <ion-card-content>
            {{item.task_name}} assigned to {{item.assigned_person_name}} on {{item.setup_date}} - {{item.setup_time}}
          </ion-card-content>
        </ion-card>
      </timeline-item>
      <timeline-item *ngIf="item.complete_date!=null">
        <img src="{{item.userprofile_pic2}}" />
        <ion-card (click)="opentaskpage(item)">
          <ion-card-content>
            {{item.task_name}} Finished to {{item.assigned_person_name}} on {{item.complete_date}}
          </ion-card-content>
        </ion-card>
      </timeline-item>
    </div>
  </timeline>
  <!--
  <div id="status-markdown1" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      https://codepen.io/comapedrosa/pen/gPLaxJ photo of the user that created/finished a task/report for his property ( all user groups incl owners assigned to his property ), One month - from today data. Newest higher ( to be approved, assigned, in work,
      created etc ).
    </p>
    <p style="color:#000000;">
      <strong>
        DO NOT SHOW UNASSIGNED TASKS
      </strong>
    </p>
    <p style="color:#000000;">
      Task name created by Dragos Moscu on 23 may - 23:45
    </p>
    <p style="color:#000000;">
      short description on click go to task details
    </p>
    <p style="color:#000000;">
      Task name assigned by Dragos Moscu on 23 may - 23:45
    </p>
    <p style="color:#000000;">
      short description on click go to task details
    </p>
    <p style="color:#000000;">
      Task name in work by Dragos Moscu on 23 may - 23:45
    </p>
    <p style="color:#000000;">
      short description on click go to task details
    </p>
    <p style="color:#000000;">
      Task name finished by Dragos Moscu on 23 may - 23:45
    </p>
    <p style="color:#000000;">
      short description on click go to task details
    </p>
    <p style="color:#000000;">
      Task name created by Dragos Moscu on 23 may - 23:45
    </p>
    <p style="color:#000000;">
      short description on click go to task details
    </p>
    <p style="color:#000000;">
      Task name approved by Owner Name on 23 may - 23:45
    </p>
    <p style="color:#000000;">
      short description on click go to task details
    </p>
  </div>-->
</ion-content>