<ion-header>
    <ion-navbar color="primary">
        <ion-title>My Profile</ion-title>
    </ion-navbar>
</ion-header>

<ion-content parallax-header no-bounce class="bg-modal">
    <div class="header-image"></div>
    <div class="main-content" text-wrap text-center>
        <img src="{{user.profileImage}}"  onError="this.src='assets/img/profile.png'" (click)="openCamera()" style="border-radius:50%; width: 100px; height: 100px;  margin-top: -70px; margin-left: auto; margin-right: auto;"
        />
        <p>Click Photo To change</p>
        <h2>{{user.name}}</h2>
        <p class="profile-description">{{user.description}}</p>
        <hr>
        <ion-list no-lines no-padding>
            <ion-item>
                <ion-icon name="mail" color="primary" item-start></ion-icon>
                <p>Email</p>
                {{user.email}}
            </ion-item>
            <ion-item>
                <ion-icon item-start name="call" color="danger"></ion-icon>
                <p>Mobile</p>
                {{user.phone}}

            </ion-item>
            <ion-item>
                <ion-icon item-start name="pin" color="twitter"></ion-icon>
                <p>{{user.address}}</p>
            </ion-item>
        </ion-list>
        <!--<h2>Get in touch</h2>
        <hr>
        <a href="#" button ion-button block color="linkedin" icon-start>
            <ion-icon name='logo-linkedin'></ion-icon>
            LinkedIn
        </a>
        <a href="#" button ion-button block color="fb" icon-start>
            <ion-icon name='logo-facebook'></ion-icon>
            Facebook
        </a>
        <a href="#" button ion-button block color="danger" icon-start>
            <ion-icon name='logo-youtube'></ion-icon>
            Youtube
        </a>-->
    </div>

</ion-content>