<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Check
    </ion-title>
    <ion-buttons end (click)="openlocatepage()">
      <button ion-button icon-left solid>
        <ion-icon name="locate"></ion-icon>
        {{selectedpropname}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item no-padding no-lines text-wrap>
    <p style="color:#000000;">
      Please select current property
      <strong>
        checklists
      </strong> and
      <strong>
        tasks
      </strong> . Market with blue are the ones to be checked and with green the ones finished. Grey are the ones
      currently
      beeing checked.
    </p>
    <p style="color:#000000; white-space:normal;">
      Once
      <strong>
        checked
      </strong> swipe right to not show.
    </p>
  </ion-item>
  <div class="spacer" style="height:13px;" id="login-spacer12"></div>

  <ion-item-group *ngIf="taskdata.length!=0">
    <ion-item-divider color="primary">Assigned Tasks</ion-item-divider>
    <ion-list>
      <ion-item *ngFor="let t of taskdata" (click)="opentaskpage(t)">
        <ion-thumbnail item-left>
          <img src="{{t.photo}}" onError="this.src='assets/img/noimageavailable.png'" />
        </ion-thumbnail>
        <h2>
          {{t.task_description}}
        </h2>
        <p>{{t.task_description}}</p>
      </ion-item>
    </ion-list>
  </ion-item-group>

  <!-- <ion-item-group no-padding >
    <ion-item-divider color="primary">Checklist/Inventory</ion-item-divider>

    <ion-item>-->
  <ion-item-group *ngIf="checklistdata.length!=0">
    <ion-item-divider color="primary">Checklist/Inventory</ion-item-divider>
    <div no-padding text-wrap *ngFor="let c of checklistdata; let i=index" [ngClass]="{active: isGroupShown(i)}">
      <div class="{{c.color}}" (click)="toggleGroup(i)">
        <ion-item class="item item-block item-md {{c.color}}">
          <ion-icon name="bookmark" item-left></ion-icon>
          {{c.category}}
          <ion-icon *ngIf="c.checklistOrInventory==1" name="md-checkbox-outline" item-right></ion-icon>
          <ion-icon *ngIf="c.checklistOrInventory==2" name="list" item-right></ion-icon>
        </ion-item>
      </div>
      <ion-list *ngIf="isGroupShown(i)">
        <div *ngFor="let d of c.data">
          <ion-item>
            <div class="text-primary" *ngIf="d.item_checkedOrNot==false">
              <span class="float-left">
                <strong style="vertical-align: -webkit-baseline-middle;">{{d.item_description}}</strong>
              </span>
              <span class="float-right text-primary" style="font-size:14px; display:flex">
                <input style="margin-right:10px; font-size:14px; height: 35px;" class="form-control" type="text" [(ngModel)]="d.value"
                  placeholder="enter quantity" *ngIf="c.checklistOrInventory==2" />
                  <ion-icon style="font-size:36px; display: flex"  ios="ios-square" md="md-square" (click)="checkData(c.checklistOrInventory,d,d.value,i)"></ion-icon>
              </span>
            </div>
            <div class="text-success" *ngIf="d.item_checkedOrNot==true">
              <span class="float-left">
                <strong style="vertical-align: -webkit-baseline-middle;">{{d.item_description}}</strong>
              </span>
              <span class="float-right" style="display:flex">
                <strong style="vertical-align: -webkit-baseline-middle; margin:5px 15px 0px 0px"
                  *ngIf="c.checklistOrInventory==2"> Total Quantity : {{d.item_value}} </strong>
               
                <ion-icon style="font-size:36px; display: flex"  ios="ios-checkbox" md="md-checkbox" (click)="checkData(c.checklistOrInventory,d,d.value,i)"></ion-icon>
                <button style="margin-left:10px" ion-button color="secondary"  *ngIf="c.checklistOrInventory==2"
                  (click)="editcheckedData(d)">Edit</button>
              </span>
            </div>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </ion-item-group>


</ion-content>

<!--   <div *ngFor="let d of c.data">
          <ion-item no-lines class="text-primary" *ngIf="d.item_checkedOrNot==false && c.checklistOrInventory==1">
            {{d.item_description}}
            <ion-icon item-right name="square-outline" (click)="checkData(c.checklistOrInventory,d,qty,i)"></ion-icon>
          </ion-item>

          <ion-item no-lines class="text-success" *ngIf="d.item_checkedOrNot==true && c.checklistOrInventory==1">
            {{d.item_description}}
            <ion-icon item-right name="checkbox"></ion-icon>
          </ion-item>


          <ion-item class="text-primary" *ngIf="d.item_checkedOrNot==false && c.checklistOrInventory==2">
            <ion-label stacked>
              {{d.item_description}}
            </ion-label>
            <ion-input type="number" [(ngModel)]="qty" placeholder="ex 2"></ion-input>
          </ion-item>
          <ion-item class="text-primary" *ngIf="d.item_checkedOrNot==false && c.checklistOrInventory==2"
            (click)="checkData(c.checklistOrInventory,d,qty,i)">
            Check
            <ion-icon name="cloud-upload" item-right></ion-icon>
          </ion-item>

          <ion-item no-lines class="text-success" *ngIf="d.item_checkedOrNot==true && c.checklistOrInventory==2">
            Total Quantity : {{d.item_value}}
            <ion-note item-right class="text-success">Checked</ion-note>
            <ion-icon name="cloud-done" item-right></ion-icon>
          </ion-item>

          <div class="spacer" style="height:13px;" id="login-spacer12"></div>
        </div> -->