<ion-tabs [selectedIndex]="tabindex">
    <ion-tab [root]="tab1Root" tabTitle="URGENT" tabIcon="star"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="TO-DO" tabIcon="construct"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="TO-BUY" tabIcon="cart"></ion-tab>
  </ion-tabs>