<ion-header>
  <ion-navbar>
    <ion-searchbar (ionInput)="getAreaItems($event)" placeholder="Property area" autocorrect="off"></ion-searchbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <div *ngFor="let a of areadata; let i=index">
      <ion-item (click)="selectArea(a.id, a.area)">
        <h2>
          {{a.area}}
        </h2>
      </ion-item>
    </div>
  </ion-list>
</ion-content>