<ion-tabs [selectedIndex]="tabindex">
  <ion-tab [root]="tab1Root" tabTitle="Status" tabIcon="pulse"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Request" tabIcon="construct"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Approve" tabIcon="create"></ion-tab>
</ion-tabs>