<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{taskname}}
    </ion-title>
    <!--<ion-buttons end>
      <button ion-button icon-left solid>
        <ion-icon name="car"></ion-icon>
        Drive to
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item color="none">
      <ion-avatar item-left>
        <img src="{{imageurl}}{{propphoto}}" height="300" width="300" />
      </ion-avatar>
      <h2>
        {{property_type}} {{property_name}}
      </h2>
      <p>{{urgentornot}}</p>
    </ion-item>
    <ion-item>
      <ion-slides pager="true">
        <ion-slide *ngFor="let p of tphotosdata">
          <img src="{{imageurl}}{{p}}" />
        </ion-slide>
      </ion-slides>
    </ion-item>
  </ion-list>





  <div class="show-list-numbers-and-dots padding">
    <p style="color:#000000;">
      {{task_description}}
    </p>
  </div>


  <ion-list *ngIf="StratTime!=''">
    <ion-item class="primary" on-click="goToMaterialToBuyDescription()">
      <ion-icon name="cart" item-left></ion-icon>
      Buy material
      <ion-icon name="arrow-dropright-circle" item-right></ion-icon>
    </ion-item>
    <ion-item-group *ngIf="materialdata.length > 0">
      <ion-item color="none" *ngFor="let u of materialdata">
        <ion-thumbnail item-left>
          <img src="{{u.photo}}" style="width:80px; height:80px;" />
        </ion-thumbnail>
        <h2>
          {{u.material_name}}
        </h2>
        <button ion-button color="primary" item-end (click)="editBuyMaterial(u)">Edit</button>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="StratTime!=''">
    <ion-item class="primary" on-click="goToSubtask()" id="taskName-list-item16">
      <ion-icon name="construct" item-left></ion-icon>
      Create subtask
      <ion-icon name="arrow-dropright-circle" item-right></ion-icon>
    </ion-item>
    <ion-item-group *ngIf="taskdata.length > 0">
      <ion-item color="none" *ngFor="let u of taskdata">
        <ion-thumbnail item-left>
          <img src="{{u.photo}}" style="width:80px; height:80px;" />
        </ion-thumbnail>
        <h2>
          {{u.task_description}}
        </h2>
        <button ion-button color="primary" item-end (click)="editTask(u)">Edit</button>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <div class="spacer" style="height:13px;" id="taskName-spacer1"></div>
  <ion-item *ngIf="StratTime==''" (click)="UpdatePerformedTask('start')" class="primary">
    <ion-icon name="stopwatch" item-left></ion-icon>
    Start time
    <ion-icon name="play" item-right></ion-icon>
  </ion-item>
  <ion-item *ngIf="StratTime!='' && EndTime==''" (click)="UpdatePerformedTask('stop')" class="assertive">
    <ion-icon name="stopwatch" item-left></ion-icon>
    Stop time
    <ion-icon name="pause" item-right></ion-icon>
  </ion-item>

  <ion-list no-padding>
    <ion-item class="primary" (click)="openCamera()">
      <ion-icon name="camera" item-left></ion-icon>
      Record
      <ion-note item-right></ion-note>
      <ion-icon name="arrow-dropdown" item-right></ion-icon>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of Photosarray let i=index">
      <ion-thumbnail item-left>
        <img src="{{p.src}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc(i,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of photosdata let j=index">
      <ion-thumbnail item-left>
        <img src="{{imageurl}}{{p.name}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc1(j,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <button ion-button block color="danger" *ngIf="deletepicarray.length > 0" (click)="deletePicArray()">Delete</button>
  </ion-list>

  <ion-item class="primary" (click)="UpdateTask()">
    <ion-icon name="build" item-left></ion-icon>
    Fixed
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>
  <!--<ion-list id="taskName-list6">
    <ion-item color="positive" id="taskName-list-item19">
      <ion-icon name="stopwatch" item-left></ion-icon>
      Start time
      <ion-icon name="play" item-right></ion-icon>
    </ion-item>
    <ion-item color="assertive" id="taskName-list-item20">
      <ion-icon name="stopwatch" item-left></ion-icon>
      Stop time
      <ion-note item-right></ion-note>
      <ion-icon name="pause" item-right></ion-icon>
    </ion-item>
    <ion-item color="positive" id="taskName-list-item21">
      <ion-icon name="camera" item-left></ion-icon>
      Record
      <ion-note item-right></ion-note>
      <ion-icon name="cloud-upload" item-right></ion-icon>
    </ion-item>
    <ion-item color="none" id="taskName-list-item23">
      <ion-thumbnail item-left>
        <img src="assets/img/OgtfQ7frSYON5eeT95Ys_LotusType119B.jpg" />
      </ion-thumbnail>
      <h2>
        Task name
      </h2>
    </ion-item>
    <ion-item color="positive" id="taskName-list-item24">
      <ion-icon name="build" item-left></ion-icon>
      Fixed
      <ion-note item-right></ion-note>
      <ion-icon name="cloud-upload" item-right></ion-icon>
    </ion-item>
    <ion-item color="balanced" id="taskName-list-item27">
      <ion-icon name="build" item-left></ion-icon>
      Thank you
      <ion-note item-right></ion-note>
      <ion-icon name="cloud-done" item-right></ion-icon>
    </ion-item>
    <ion-item color="energized" id="taskName-list-item28">
      <ion-icon name="warning" item-left></ion-icon>
      Edit
      <ion-note item-right></ion-note>
      <ion-icon name="cloud-upload" item-right></ion-icon>
    </ion-item>
  </ion-list>-->
</ion-content>