<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Register
    </ion-title>
    <ion-buttons end  (click)="openlocatepage()">
      <button ion-button icon-left solid>
        <ion-icon name="locate"></ion-icon>
        {{selectedpropname}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6">
  <div id="register-markdown4" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      <strong>
        GPS must be activated
      </strong>
      for this section to work, you can desactivate once property is uploaded. Locate will update and refetch gps coordinates
    </p>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>
        Prop Type
      </ion-label>
      <ion-select [(ngModel)]="proptype" placeholder="Select">
        <ion-option *ngFor="let pt of proptypedata" value={{pt.id}}>
          {{pt.type}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item color="none" on-click="presentAreaPopover($event)">
      Area
      <ion-note item-right>{{areaname}}</ion-note>
      <ion-icon name="arrow-dropdown" item-right></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item id="register-input1">
      <ion-label stacked>
        Name
      </ion-label>
      <ion-textarea [(ngModel)]="propname" placeholder="ex: Cassandra"></ion-textarea>
    </ion-item>
  </ion-list>


  <ion-list no-padding>
    <ion-item class="primary" (click)="openCamera()">
      <ion-icon name="camera" item-left></ion-icon>
      Record
      <ion-note item-right></ion-note>
      <ion-icon name="arrow-dropdown" item-right></ion-icon>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of Photosarray let i=index">
      <ion-thumbnail item-left>
        <img src="{{p.src}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc(i,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of photosdata let j=index">
      <ion-thumbnail item-left>
        <img src="{{imageurl}}{{p.name}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc1(j,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <button ion-button block color="danger" *ngIf="deletepicarray.length > 0" (click)="deletePicArray()">Delete</button>
  </ion-list>

  <ion-list>
    <ion-item *ngIf="eid==0" class="primary" (click)="RegisterProperty()">
      <ion-icon name="add-circle" item-left></ion-icon>
      Register
      <ion-note item-right></ion-note>
      <ion-icon name="cloud-upload" item-right></ion-icon>
    </ion-item>

    <ion-item *ngIf="eid!=0" class="energized" (click)="UpdateProperty()">
      <ion-icon name="warning" item-left></ion-icon>
      Update
      <ion-note item-right></ion-note>
      <ion-icon name="cloud-upload" item-right></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item color="none" *ngFor="let p of propdata">
      <ion-avatar item-left>
        <img src="{{p.photo}}" style="width:80px; height:80px;" />
      </ion-avatar>
      <h2>
        {{p.name}}
      </h2>
      <button ion-button color="primary" item-end (click)="editProp(p)">Edit</button>
    </ion-item>
  </ion-list>
  <!--
  <ion-item color="none" id="register-list-item22">
    <ion-icon name="bookmark" item-left></ion-icon>
    Towels
    <ion-note item-right></ion-note>
    <ion-icon name="list-box" item-right></ion-icon>
  </ion-item>
  <ion-item color="positive" id="register-list-item23">
    <ion-icon name="camera" item-left></ion-icon>
    Record
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>
  <ion-item color="positive" id="register-list-item24">
    <ion-thumbnail item-left>
      <img src="assets/img/f9a5tMLkTZi1GzbBRF6J_towels.jpg" />
    </ion-thumbnail>
    <h2>
      Towels
    </h2>
  </ion-item>
  <ion-item id="register-input2">
    <ion-label stacked>
      Hand towels
    </ion-label>
    <ion-input type="text" placeholder="ex 6"></ion-input>
  </ion-item>
  <ion-item id="register-input5">
    <ion-label stacked>
      Bath towels
    </ion-label>
    <ion-input type="text" placeholder="ex 6"></ion-input>
  </ion-item>
  <ion-item id="register-input3">
    <ion-label stacked>
      Notes
    </ion-label>
    <ion-input type="text" placeholder="ex You need to buy full new sets"></ion-input>
  </ion-item>
  <ion-item color="positive" id="register-list-item25">
    <ion-icon name="add-circle" item-left></ion-icon>
    Record
    <ion-note item-right></ion-note>
    <ion-icon name="cloud-upload" item-right></ion-icon>
  </ion-item>-->

</ion-content>