<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Locate
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div id="locate-markdown11" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      <strong>
        GPS must be activated
      </strong> for this section to work, you can desactivate once property is selected.
    </p>
    <p style="color:#000000;">
      Once it enters this page it fetches GPS coordinates and shows properties around the location. It continuosly fetches location
      while on this page.
    </p>
  </div>
  <ion-list id="locate-list11">
    <ion-item>
      <ion-label>
        <ion-icon name="locate" item-left></ion-icon>
        Locate
      </ion-label>

      <ion-select [(ngModel)]="area">
        <ion-option value="All">All</ion-option>
        <ion-option *ngFor="let a of areadata;" value="{{a}}">{{a}}</ion-option>
      </ion-select>
    </ion-item>
    <div *ngFor="let p of propdata; let i=index">
      <ion-item *ngIf="area=='All' || area==p.area" (click)="selectProperty(p.propid, p.name)">

        <ion-thumbnail item-left>
          <img src="{{p.photo}}" onError="this.src='assets/img/noimageavailable.png'"  />
        </ion-thumbnail>
        <h2>
          {{p.name}}
        </h2>
        <p>
          {{p.address}}
        </p>
        <ion-icon name="checkbox" *ngIf="selectedpropid!=p.propid" color="grey" item-right></ion-icon>
        <ion-icon name="checkbox" *ngIf="selectedpropid==p.propid" color="primary" item-right></ion-icon>
      </ion-item>
    </div>
  </ion-list>
</ion-content>