<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{taskname}} - {{property_name}}
    </ion-title>
    <!--<ion-buttons end>
      <button ion-button icon-left solid>
        <ion-icon name="locate"></ion-icon>
        Arkia
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>
<ion-content padding id="page8">
  <ion-list [hidden]='hiddenfields'>
    <ion-item color="none">
      <ion-avatar item-left>
        <img src="{{imageurl}}{{taskphoto}}" />
      </ion-avatar>
      <h2>
        {{taskname}}
      </h2>
    </ion-item>
  </ion-list>


  <ion-list [hidden]='hiddenfields'>
    <ion-item>
      <ion-label stacked>
        Description
      </ion-label>
      <ion-textarea [(ngModel)]="taskdescription" placeholder="ex: Broken window in bathroom"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-row>
        <ion-col text-center>
          <i class="fa fa-users" style="font-weight:bolder"></i>
          <strong> Assign Group/User</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <button ion-button block [color]="(assigned_group==4)?'secondary':'primary'" (click)="SelectGroup(4)">
            <span class="float-left" style="font-size:20px;">
              <i class="fa fa-users"></i>
            </span>
            <strong>Tech</strong>
          </button>
        </ion-col>

        <ion-col text-center>
          <button ion-button block [color]="(assigned_group==5)?'secondary':'primary'" (click)="SelectGroup(5)">
            <span class="float-left" style="font-size:20px;">
              <i class="fa fa-users"></i>
            </span>
            <strong>Cleaning</strong>
          </button>
        </ion-col>

        <!--<ion-col text-center>
        <button ion-button block [color]="(assigned_group==2)?'secondary':'primary'" (click)="SelectGroup(2)">
          <span class="float-left" style="font-size:20px;">
            <i class="fa fa-users"></i>
          </span>
          <strong>Admin</strong>
        </button>
      </ion-col>

        <ion-col text-center>
          <button ion-button block [color]="(assigned_group==3)?'secondary':'primary'" (click)="SelectGroup(3)">
            <span class="float-left" style="font-size:20px;">
              <i class="fa fa-users"></i>
            </span>
            <strong> Owner</strong>
          </button>
        </ion-col>-->
      </ion-row>

      <ion-row>
        <ion-col text-center *ngIf="assigned_person_id!=''">
          <button ion-button block color="secondary">
            <span class="float-left" style="font-size:20px;">
              <i class="fa fa-user"></i>
            </span>
            <strong>Assigned To {{assignedpersonname}}</strong>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-icon name="person" item-left></ion-icon>
      <ion-label>
        Assigned To
      </ion-label>
      <ion-select class="form-control" id="user" name="user" [(ngModel)]="user">
        <!--<ion-option value="-1"> Select user</ion-option>-->
        <ion-option *ngFor="let u of userdata" value='{{u.userid}}@@{{u.firstname}} {{u.lastname}}'>
          {{u.firstname}} {{u.lastname}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list [hidden]='hiddenfields'>
    <ion-item>
      <ion-icon name="calendar" item-left></ion-icon>
      <ion-label>Setup Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY"   pickerFormat="YYYY-MM-DD"  [(ngModel)]="setupdate"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-icon name="alarm" item-left></ion-icon>
      <ion-label>Setup Time</ion-label>
      <ion-datetime displayFormat="HH:mm:ss" [(ngModel)]="setuptime"></ion-datetime>
    </ion-item>

  </ion-list>
  <ion-list no-padding [hidden]='hiddenfields'>
    <ion-item class="primary" (click)="openCamera()">
      <ion-icon name="camera" item-left></ion-icon>
      Record
      <ion-note item-right></ion-note>
      <ion-icon name="arrow-dropdown" item-right></ion-icon>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of Photosarray let i=index">
      <ion-thumbnail item-left>
        <img src="{{p.src}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc(i,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <ion-item text-wrap *ngFor="let p of photosdata let j=index">
      <ion-thumbnail item-left>
        <img src="{{imageurl}}{{p.name}}" style="width:80px; height:80px;" />
      </ion-thumbnail>
      <ion-checkbox color="dark" item-end (ionChange)="deletePic(p)"></ion-checkbox>
      <ion-textarea value={{p.desc}} (ionChange)="changePhotoDesc1(j,$event)" rows="3" placeholder="Enter Photo Description" name="Report"></ion-textarea>
    </ion-item>
    <button ion-button block color="danger" *ngIf="deletepicarray.length > 0" (click)="deletePicArray()">Delete</button>
  </ion-list>

  <ion-list>
    <ion-item class="energized" (click)="UpdateTask()">
      <ion-icon name="add-circle" item-left></ion-icon>
      Update
      <ion-note item-right></ion-note>
      <ion-icon name="cloud-upload" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>